nav{
    height: 30px;
    background-color: black;
}

header{
    height: 400px;
}

main{
    background-color: lightgray;
    height: 1000px;
}

footer{
    height: 250px;
    background-color: lightgreen;
}

.banner{
    width: 100%;
}

.link{
    color: white;
    text-decoration: none;
}

.icon-fab{
    font-size: 300%;
    color: green;
    float: right;
    margin-bottom: 1;
    right: 0px;
    margin-bottom: right;
    bottom: 0;
    position: fixed;
}
.container{
    width: 70%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-left: 265px;
    margin-right: auto;
}

section.resume-section .resume-section-content {
    width: 90%;
}

section.resume-section {
    display: flex;
    align-items: center;
    padding-left: 10rem;
    padding-right: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    max-width: 70rem;
  }
  .list-inline {
    padding-left: 0;
    list-style: none;
  }
  .list-inline-item {
    display: inline-block;
  }
.passo{
    width: 180px;
    display: inline-flex;
    text-align: inherit;
    
}