nav{
    height: 30px;
    background-color: black;
}

header{
    height: 400px;
    background-color: lightcoral;
    margin-top: 1px;
}

main{
    background-color: lightgray;
    height: 1000px;
}

footer{
    height: 250px;
    background-color: lightgreen;
}

.banner{
    width: 100%;
}

.bandeira-brasil{
    height: 25px;
}

.link{
    color: white;
    text-decoration: none;
}