nav{
    background-color: black;
}

main{
    background-color: lightgray;
    height: 1000px;
}

div{
    width: 100%;
}

.f1{
    background-color: #103424;
    width: 1200px;
}

.f2{
    color:  #103424;
    font-size: 50px;
    font-family: monospace;
    width: 1000px;
    padding-left: 50px;
}

.banner{
    width: 100%;
}

.link-f{
    color: black;
    text-decoration: none;
    font-size: 18px;
}